# This is a demo control file.
# Make sure that the target project has the hello.py, app.sh, and app.R files from the target_project
# directory in place. Otherwise the task executions will fail.
#
# If you'd like to test environment and model_id overrides, uncomment them in the control file
# and replace the values with valid IDs from your Domino environment

[job_1]
type: run
command: hello.py job_1
title: Hello One
 
[job_2]
type: run
command: hello.py job_2
tier: Large
title Hello Two
 
[job_3]
type: run
command: hello.py job_3
 title: Hello Three
 
[sched_job_1]
type: run
cron_string: * 0/20 0 ? * SUN,MON,TUE,WED,THU,FRI *
command: hello.py job_1
tier: small
; environment: 613f748afd9e5a517530348a

[model_1]
type: model
name: Hello Model9
description: Test model
file: model.py
function: return_hello
depends: job_3
; model_id: 63d2b772a111ce3c7f7cb41e
 
[app_1]
type: app
name: TestApp3
tier: Large
depends: model_1